* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/random/1600x900");
}


.box-larger {
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-city {
    font-size: 20px;
    background-color: #7c7c7c8b;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: calc(100% - 50px);
}


.input-city:hover {
    outline: none;
    border-color: #49a6f2;
    box-shadow: 0 0 0 0.3125rem #49a0f259;
}

.input-city:focus {
    outline: none;
    border-color: #07ac15;
    box-shadow: 0 0 0 0.3125rem #49f25765;
}

.btn-search {
    border: none !important;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c8b;
    cursor: pointer;
    float: right;
}

.btn-search:hover {
    background-color: #49a0f2;
}

.btn-search:focus {
    background-color: #07ac15;
}

.btn-search:active {
    background-color: #9cac07;
}

.img-search {
    width: 20px;
}

.box-medium {
    margin-top: 20px;
}

.title-city {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

.weather-style {
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.weather {
    font-size: 50px;
    color: #fff;
}

.weather-min {
    font-size: 16px;
    color: #fff;
}

.weather-max {
    font-size: 16px;
    color: #fff;
}

.box-small {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.text-forecast {
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}

.humidity {
    color: #fff;
    margin-top: 20px;
}
